---
key: 2
title: About Us
permalink: /AboutUs/
options: fullwidth
excerpt: Who is Biobotus
image: aboutuscollab01.jpg
background-image: aboutuscollab01.jpg
---

Biobotus was founded in Research Triangle Park, NC to be a provider of accessible digital home health products.  With the background in medical diagnostics and software engineering, Biobotus is committed to developing products that utilize cutting edge connectivity technologies to link device to mobile and home.  The full global capabilities of domestic and international logistics and manufacturing will be used to bring the consumer high-quality, affordable products.  Marketing and sales is accomplished by focusing on ecommerce platforms that leverage the most powerful methods to target consumers via desktop and mobile.  

If you have further questions, please Contact Us.



{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.blog %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for post in site.categories.blog
%}{%    assign n = post.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>&nbsp;
          {{ post.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
