---
title: Our Products
permalink: "/Products/"
key: 4
options: fullwidth
excerpt: Our Products - Released and Under Development (orly)
image: proddevsketch_a_01.jpg
background-image: proddevsketch_b_01.jpg
---

 {%  if site.ppages %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="ppage-list">{%
        for ppage in site.categories.products %}{%
          if ppage.tags contains "featured" %}
      <li>
        <a class="ppage-link" href="{{ ppage.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="ppage-title">{{ ppage.title }}</p>
            <p class="ppage-date">{{ ppage.date | date: "%Y-%m-%d" }}</p>
            <p class="ppage-desc">{{ ppage.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for ppage in site.categories.products
%}{%    assign n = ppage.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ ppage.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ ppage.url }}" style="white-space: nowrap;"><b>{{ ppage.title }}</b></a>&nbsp;
          {{ ppage.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
