---
title: Our Products
permalink: "/Products/"
key: 4
options: fullwidth
excerpt: Our Products - Released and Under Development
image: proddevsketch_a_01.jpg
background-image: proddevsketch_b_01.jpg
---

 
        <!-- Two -->
          <section id="landing_pages" class="wrapper alt style2">{%
            assign sorted_pages = site.pages | sort:"id" %}{%
            for my_page in sorted_pages %}{%
              if my_page.title %}{%
                unless my_page.options contains 'nolanding' %}
            <section class="spotlight">
              <div class="image">
                <a href="{{ my_page.url | prepend:site.baseurl }}">
                <img src="{{ site.baseurl }}/images/{% if my_page.image %}{{ my_page.image }}{% else %}banner.png{% endif %}" alt="" />
                </a>
              </div>
              <div class="content">
                <a href="{{ my_page.url | prepend:site.baseurl }}">
                <h2>{{ my_page.title }}</h2>
                <p>{{ my_page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}</p>
                </a>
              </div>
            </section>{%
                endunless %}{%
              endif %}{%
            endfor %}
          </section>

        <!-- Three -->{%
      if site.tags.featured %}
          <section id="landing_features" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>{{ site.features-title }}</h2>
                <!-- <p>Blog posts with decent content</p> -->
              </header>
              <ul class="features">{%
                for my_post in site.posts %}{%
                  if my_post.tags contains 'featured' %}{%
                    assign i = i | plus:1 %}
                <li class="icon fa-{% if my_post.icon %}{{ my_post.icon }}{% else %}heart-o{% endif %}"><!-- featured:{{ i }} -->
                  <a href="{{ my_post.url | prepend:site.baseurl }}">
                  <div class="container">
                  <h3>{{ my_post.title }}</h3>
                  <p>{{ my_post.data}}<br />{{ my_post.excerpt | strip_html | truncatewords: 16 }}</p>
                  </div>
                  </a>
                </li>{%
                    if i == 8 %}{%
                      break %}{%
                    endif %}{%
                  endif %}{%
                endfor %}
              </ul>
            </div>
          </section>{%
      endif %}
        
        
   
 
