---
title: Our Products
permalink: "/Products/"
key: 4
options: fullwidth
excerpt: Our Products - Released and Under Development (orly)
image: proddevsketch_a_01.jpg
background-image: proddevsketch_b_01.jpg
---

 {%  if site.page %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="page-list">{%
        for page in site.categories.products %}{%
          if page.tags contains "featured" %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="page-title">{{ page.title }}</p>
            <p class="page-date">{{ page.date | date: "%Y-%m-%d" }}</p>
            <p class="page-desc">{{ page.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">{%
      assign p = '9999'
%}{%  for page in site.categories.products
%}{%    assign n = page.date | date: "%Y"
%}{%    if n != p
%}{%      assign p = n
%}
      <br /><h5>{{ n }}</h5>{%
        endif %}
      <li style="padding-bottom: 6px;"><code>[{{ page.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ page.url }}" style="white-space: nowrap;"><b>{{ page.title }}</b></a>&nbsp;
          {{ page.excerpt | strip_html | truncatewords: 12 }}</li>{%
      endfor
%}
    </ul>

{%  endif %}
